<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Upload</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="grid1">
        <h1>File Uploader</h1>
        <form
          id="upload-form"
          action="{{ url_for('upload') }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="grid2">
            <input type="file" name="file" accept="image/*" multiple />
          </div>
          <div class="grid3">
            <input class="button" type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
